In [1]:
from fastapi import FastAPI
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from fastapi import FastAPI, HTTPException
from fastapi.responses import JSONResponse

In [2]:
#Leer Archivos
df_items = pd.read_parquet('data_items.parquet')
df_games = pd.read_parquet('data_games_explode.parquet')

In [13]:
merged_df = pd.merge(df_games, df_items, on='item_id', how='inner')

In [14]:
merged_df.drop(['item_name', 'title'], inplace=True, axis=1)
merged_df

         genres release_date item_id            user_id  playtime_forever
0        action   1997-06-30  282010           UTNerd24               5.0
1        action   1997-06-30  282010           saint556              13.0
2        action   1997-06-30  282010             chidvd             110.0
3        action   1997-06-30  282010             aerpub              13.0
4        action   1997-06-30  282010      lucifer666678               8.0
...         ...          ...     ...                ...               ...
6938755  action   2004-03-01      80  76561198208507532             203.0
6938756  action   2004-03-01      80  76561198221578852             244.0
6938757  action   2004-03-01      80        EnVyIsSmexy               7.0
6938758  action   2004-03-01      80  76561198283312749               9.0
6938759  action   2004-03-01      80  76561198312638244              99.0

[6938760 rows x 5 columns]

In [15]:
merged_df = merged_df[merged_df.playtime_forever >= 2.0]

In [21]:
merged_df=merged_df.sample(500000)

In [22]:
merged_df

         genres release_date item_id            user_id  playtime_forever
5987867     rpg   2012-04-23  209830        Darkyellowz              88.0
6599200  action   2009-11-16     550         EyesScream             982.0
54953     indie   2006-11-29    4000          159zse159            2206.0
3231511  action   2016-06-07  322190         reubenhung             235.0
633319   action   2011-06-21   21100       actionwalrus             358.0
...         ...          ...     ...                ...               ...
1924005  sports   2016-04-19  207140  76561198032198413              51.0
5593023  action   2012-10-16  219640           jbvinssr              27.0
6537556  action   2010-03-23    8190  76561198055819674              81.0
1848963  casual   2014-10-13  321480  76561198084066872              46.0
2045593   indie   2015-04-02  230190  76561198056392712             601.0

[500000 rows x 5 columns]

In [18]:
merged_df.to_parquet('items_merged_games.parquet')